/* grey rgba(255, 255, 255, 0.6); */

:root {
        --primary-text-color: #757575;
        --title-text-color: #212121;
        --accent: #2196F3;
        --background-accent: #F5F4FA;
        --hero-background: #2F303A;
        --primary-bg: #FFFFFF;
}

.list {
        list-style: none;
        padding: 0;
        margin: 0;
}

body {
        font-family: 'Roboto', sans-serif;

        color: var(--primary-text-color);
        background-color: var(--primary-bg);
}

h2.hidden {
        visibility: hidden;
        height: 0px;
        margin-top: 0;
        margin-bottom: 0;
}

.container {
        width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 94px;
        padding-bottom: 94px;
}

.container.no-padding {
        padding-top: 0;
        padding-bottom: 0;
}

.container.no-top-padding {
        padding-top: 0;
}

/* Logo */
.logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        text-decoration: none;
        letter-spacing: 0.03em;
}

.logo.header {
        color: #000000;
}

.logo.footer {
        display: block;
        color: var(--primary-bg);
        margin-bottom: 20px;
        padding-top: 0;
        padding-bottom: 0px;
}

.logo span {
        color: var(--accent);
}

/* site navigation */
.site-nav .link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
        letter-spacing: 0.02em;
}

.site-nav .link.menu {
        color: var(--title-text-color);
}

.site-nav .link.contacts {
        color: var(--primary-text-color);
}

.site-nav .link:hover, .site-nav .link:focus, .footer-contacts .link:hover, .footer-contacts .link:focus {
        color: var(--accent);
}

.site-nav .link.current {
        color: var(--accent);
}

/* Buttons */
.button {
        display: inline-block;
        font-family: inherit;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        text-align: center;
        border-radius: 4px;
        min-width: 73px;
}

.button.primary {
        color:var(--primary-bg);
        background-color: var(--accent);
        font-weight: 700;
        line-height: 1.88;
        letter-spacing: 0.06em;
        padding: 10px 32px;

}

.button.secondary {
        color: var(--title-text-color);
        background-color: var(--background-accent);
        font-weight: 500;
        line-height: 1.6; 
        letter-spacing: 0.03em;
        padding: 6px 22px;
}

.button.secondary:hover {
        color: var(--primary-bg);
        background-color: var(--accent);
        padding: 6px 25px;
}

/* hero block */
.hero {
        background: var(--hero-background);
}

.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 30px;
        
        color: var(--primary-bg);
}

/* Sections */
.section-title {
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 0;
        margin-bottom: 50px;

        color:var(--title-text-color);
}

.section-accent {
        background: var(--background-accent);
}

/* Features section (list) */
.features .title {
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        margin-top: 0;
        margin-bottom: 10px;

        color: var(--title-text-color);
}

.features .text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin-top: 0;
        margin-bottom: 0;
}

/* Services section (list)*/


/* Team section (list)*/
.team img {
        margin-bottom: 30px;
}

.team .title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;        
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 0;
        margin-bottom: 10px;

        color: var(--title-text-color);
}

.team .text {
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 0;
        margin-bottom: 0;
}

.team li {
        padding-bottom: 30px;
}

/* Portfolio page: portfolio section */
.portfolio .title {
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-top: 0;
        margin-bottom: 4px;
        padding-left: 24px;
        padding-right: 24px;

        color: var(--title-text-color);
}

.portfolio .text {
        line-height: 1.88;
        letter-spacing: 0.03em;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 24px;
        padding-right: 24px;

        color: var(--primary-text-color);
}

.container .buttons {
        margin-bottom: 50px;
}

.portfolio li {
        padding-bottom: 20px;
}

.portfolio img {
        margin-bottom: 20px;

}

/* Footer */
.footer {
        background-color: var(--hero-background);
        padding-top: 60px;
        padding-bottom: 60px;
}

.footer .link {
        font-size: 14px;
        line-height: 1.71;
        text-decoration: none;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
}

.footer .address.link {
        text-decoration: none;
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
        letter-spacing: 0.03em;

        color: var(--primary-bg);
}

address {
        font-style: normal;
}